ul {color: antiquewhite;}
/* csak azokat, amik ol-en belül vannak, ol után kell egy szóköz */
ol .urgent {color: crimson; 
font-family: sans-serif;
font-size: 20px;
background-color: cyan;
}
li {color: chartreuse;}
/* Letezik-e a disabled és ha igen akkor átállítja */
ol li[disabled] {opacity: 0.3;}